body {
  background-color: var(--color-background-body);
  color: var(--color-text);
  font-family: var(--font-family-body);
}

header {
  display: flex;
  flex-direction: column;

  background-color: var(--color-background-header);
  color: var(--color-text);

  font-size: var(--font-style-header);
  font-family: var(--font-family-display);
  font-style: normal;

  text-align: center;
  border-color: currentColor;
  border: 1px solid var(--color-text);
}

#primary-header {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: baseline;
}

#primary-header > .title {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  margin-left: 6em;
}

#primary-header > .profile-pic {
  height: var(--height-avatar-header);
  width: var(--width-avatar-header);
  border-radius: var(--border-radius-avatar-header);
  margin-right: 2em;
}

#sub-header {
  display: flex;
  justify-content: center;
}

#sub-header h5 {
  padding: var(--padding-sub-header);
  padding-bottom: var(--padding-bottom-sub-header);
}

.category-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  gap: var(--grid-gap-category-page);
  margin-bottom: var(--margin-bottom-category-page);
}

.grid-item {
  margin-top: var(--margin-top-grid-item);
  flex: 1;
  justify-items: center;
  width: var(--width-grid-item);
  height: var(--height-grid-item);
  border-radius: var(--border-radius-grid-item);
  position: relative; /* Add this to position overlay */
  overflow: hidden;
  position: relative;
}

.grid-item > .card {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.grid-item .overlay {
  position: absolute; /* Position overlay over the image */
  bottom: 0; /* Align to the top */
  left: 0; /* Align to the left */
  right: 0; /* Stretch to the right */
  display: flex; /* Center text */
  height: var(--height-grid-item-overlay);
  align-items: center; /* Vertically center text */
  justify-content: center; /* Horizontally center text */
  opacity: 0; /* Hide overlay initially */
  transition: opacity 0.3s; /* Smooth opacity transition */
  background-color: white;
}

.grid-item:hover .card {
  opacity: var(--opacity-card-hover);
  transition: opacity 0.3s;
}

.grid-item:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

header a {
  color: inherit;
}

header a:visited {
  color: inherit;
}

h2 {
  opacity: var(--opacity-h2);
}

a {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link);
}

svg.icon {
  display: inline;
  height: var(--height-svg);
  width: var(--width-svg);
  vertical-align: top;
  fill: currentColor;
}
