body {
  background-color: var(--color-background-body);
  color: var(--color-text);
  font-family: var(--font-family-body);
}

header {
  background-color: var(--color-background-header);
  color: var(--color-text);

  font-size: 24px;
  font-family: var(--font-family-display);
  font-style: normal;

  text-align: center;
  border-color: currentColor;
  border: 1px solid darkred;
}

header a {
  color: inherit;
}

header a:visited {
  color: inherit;
}

h2 {
  opacity: 75%;
}

a {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link);
}

svg.icon {
  display: inline;
  height: 2em;
  width: 2em;
  vertical-align: top;
  fill: currentColor;
}
